	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/03/2019 10:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.eot");
  src: url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.woff2") format("woff2"),
       url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.woff") format("woff"),
       url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.ttf") format("truetype"),
       url("https://thesoftking.com/html/securion/demo/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://thesoftking.com/html/securion/demo/assets/css/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-group:before { content: "\f100"; }
.flaticon-visitor-identification:before { content: "\f101"; }
.flaticon-herbal-spa-treatment-leaves:before { content: "\f102"; }
.flaticon-human-resources:before { content: "\f103"; }
.flaticon-work-team:before { content: "\f104"; }
.flaticon-work:before { content: "\f105"; }
.flaticon-support:before { content: "\f106"; }
.flaticon-house:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-police-station:before { content: "\f109"; }
.flaticon-detective:before { content: "\f10a"; }
.flaticon-webpage:before { content: "\f10b"; }
.flaticon-headphones:before { content: "\f10c"; }
.flaticon-mission:before { content: "\f10d"; }
.flaticon-vision:before { content: "\f10e"; }
.flaticon-bionic-eye:before { content: "\f10f"; }
.flaticon-cctv:before { content: "\f110"; }
.flaticon-screwdriver-and-wrench-crossed:before { content: "\f111"; }
.flaticon-dome:before { content: "\f112"; }
.flaticon-shield:before { content: "\f113"; }
.flaticon-camera-360:before { content: "\f114"; }
.flaticon-retail:before { content: "\f115"; }
.flaticon-hospital:before { content: "\f116"; }
.flaticon-cctv-1:before { content: "\f117"; }
.flaticon-live:before { content: "\f118"; }
.flaticon-achievement:before { content: "\f119"; }